@import "tailwindcss";

@theme {
  --base-color: #2A2929;

  --color-primary-blue: #0F1A38;
  --color-secondary-blue: #38BDF8;
  --color-tertiary-blue: #23414E;

  --color-lang-button-border: #0F1A3830;
  --color-scheme-mode-button: #241F51;

  --color-graffiti-stripe: #E86048;

  --color-experience-card: #FFFFFF02;
  --color-experience-card-selected: #FFFFFF10;
  --color-experience-card-border: #FFFFFF10;

  --color-project-card: #151515;
  --color-project-card-stroke: #262626;
  --color-project-card-version: #9CA3AF;
  --color-project-card-text: #D4D4D4;
  --color-project-card-button-icon: #464F66;
  --color-project-card-stroke-pill: #404040;

  --color-skills-table-bg: #303030;
  --color-skills-table-stroke: #FFFFFF20;

  --color-contact-me-button: #504D7B;
  --color-open-twork-button: #628C5A;

  --font-modak: "Modak";
  --font-outfit: "Outfit";
}

@font-face {
  font-family: 'Modak';
  src: url('/fonts/Modak/Modak-Regular.ttf');
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit/Outfit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit/Outfit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}