---
import Star from "@/icons/Star.astro";
import { links } from "@/lib/data";
---

<aside
  id="aside-menu"
  class="fixed overflow-hidden opacity-0 rounded-2xl top-22 bg-[#FFF] w-0 h-fit transition-all duration-200 ease-out shadow-lg shadow-[#000]/30 right-4 md:right-2 max-w-[500px] md:hidden"
>
  <ul class="flex flex-col gap-1 p-4 text-[#0F1A38] relative h-full">
    {
      links.map(({ href, text }) => (
        <li class="flex">
          <a href={href} class="font-medium text-2xl w-[10rem] flex gap-2 items-center">
            <Star width="25" height="25" />
            {text}
          </a>
        </li>
      ))
    }
  </ul>
</aside>
