---
import GraffitiStroke from "@/components/GraffitiStroke.astro";
---

<article id="skills" class="py-6 md:py-8">
  <div
    class="flex items-center justify-center gap-2 md:gap-4 md:justify-between md:pr-12 lg:pr-0 lg:gap-35 lg:justify-center"
  >
    <GraffitiStroke
      sclass="w-[20rem] h-[2rem] md:w-[27rem] lg:w-[36rem] rotate-180 text-secondary-blue"
    />
    <h2
      class="text-center font-modak text-3xl md:text-5xl text-shadow-2xs text-shadow-[#000]"
    >
      Skills
    </h2>

    <GraffitiStroke sclass="w-[20rem] h-[2rem] block md:hidden text-secondary-blue" />
  </div>

  <p
    class="text-center font-outfit w-full px-3 md:px-0 md:w-[40rem] mx-auto text-lg"
  >
    Un conjunto de habilidades, conocimientos técnicos y herramientas que aplico
    en el desarrollo de mis proyectos, lo que me permite crear soluciones
    eficientes y escalables centradas en la experiencia del usuario.
  </p>
</article>
